*{
        box-sizing: border-box; 
        font-family: 'Playfair Display', serif;
}

body{
        padding:0; 
        margin:0; 
        height: 100%;
        width: 100%; 
        display:flex;
        justify-content: left; 
        flex-direction: column; 
}

#modal{
        position: fixed;
        height: 100%;
        width: 100%; 
        background-color: rgba(0, 0, 0, 0.6); 
        z-index: 1; 
        align-items: center; 
        display: none; 
        /* use javascript to toggle the above display class on and off */
}

#modaltextbox{
        height: 25rem;
        width: 30rem;
        margin-top: 12%; 
        margin-left: 30%; 
        padding: 2%;
        padding-top: 0;  
        background-color: white; 

        
}

#titleandclose{
        display: flex;
        flex-direction: row; 
        align-content: space-around; 
        width: 100%;
        padding:0; 
}

#titleandclose span{
        margin-left: 50%; 
        margin-top: 2%; 
        font-size: 3rem; 
}

#titleandclose span:hover{
        cursor: pointer;
}

#formcontainer{
        width:100%; 
}

#newquoteform{
        margin:0; 
        width:100%; 
}

#newquoteform button {
        width:8rem;
        height:2rem; 
        margin-left: 10%; 
}

#newquoteform textarea {
        width: 20rem;
        height: 3rem; 
}

#newquoteform button:hover{
        cursor: pointer;
}

#pagecontent{
        position: relative;
        padding-left: 3%; 
        margin:0; 
        height:100%; 
        width: 100%; 
        display: flex;
        flex-direction: row; 
}

#quotehalf{
        padding: 2%; 
        padding-left: 6%; 
}

#titlemenu{
        position: sticky;
        top:0; 
}

#titletag{
        margin-top: 0; 
        height: 15rem;
        width: 15rem; 
        background-color: maroon; 
        color: white; 
        font-size: 4rem; 
        text-align: center; 
        padding-top: 5%; 
        border-style: none; 
      
}

.quotecard{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        margin-bottom: 3%; 
}

.quotecard button {
        width: 8rem;
        height: 2rem;
        color: black;
        background-color: lightgrey; 
}

.quotecard button:hover {
        cursor: pointer; 
}

.quotetext{
        display: flex;
        flex-direction: column; 
        padding:5%; 
        width:50%; 
        background-color: rgba(255, 204, 153, 0.3);
}

.quotetext p{
        font-style: italic; 
}

.quoteimg{
        padding:2%; 
        padding-left: 10%; 
        width:50%; 
}

.quoteimg img{
        width:16rem;
        height:25rem; 
        box-shadow: 8px 8px 3px grey;
}

#addnewquote{
        margin-top: 25%; 
        margin-left: 15%; 
}

#addnewquote button {
        width: 10rem;
        height: 5rem;
        color: black;
        font-size: 1rem; 
        background-color: lightgrey; 
}

#addnewquote button:hover{
        cursor: pointer;    
}



